.text1{
    padding-left: 70px;
}

.text2{
    padding-left: 70px;
    padding-top: 40px;
}

.text3{
    padding-top: 40px;
}

.text4{
    padding-top: 10px;
}

.text5{
    padding-left: 45px;
}

.text6{
    padding-left: 50px;
}

.text7{
    padding-left: 110px;
}